* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #303030;
  background-color: #FFFFFF;
  font-family: "Open Sans", "Raleway", sans-serif;
  font-size: 14px;
  font-style: normal;
}

ul {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.section {
  padding: 84px 31px;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 100px 39px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 130px 54px;
  }
}
.container {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.is-hidden {
  display: none;
}

.is-invisible {
  display: none;
}

.is-faded {
  -webkit-animation: fadeIn 500ms ease-in;
          animation: fadeIn 500ms ease-in;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.no-scroll {
  overflow: hidden;
}

.double-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .double-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 31px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 32px 39px 32px 50px;
  }
}
.header__logo {
  color: #FFFFFF;
}
.header__logo:hover, .header__logo:focus {
  color: #FF6C00;
}

@media screen and (min-width: 768px) {
  .header__logo {
    color: #303030;
  }
}
.header__logo-icon {
  fill: currentColor;
  width: 69px;
  height: 55px;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 71px;
}

@media screen and (min-width: 1200px) {
  .header__navigation {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__navigation-list {
  gap: 41px;
  display: none;
}

@media screen and (min-width: 768px) {
  .header__navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__navigation-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__navigation-link:hover, .header__navigation-link:focus {
  color: #FF6C00;
}

.header__contact-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 20px;
    -webkit-column-gap: 37px;
       -moz-column-gap: 37px;
            column-gap: 37px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__contact-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact-link:hover, .header__contact-link:focus {
  color: #FF6C00;
}

.header__contact-button {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px #FF6C00 solid;
  border-radius: 25px;
  cursor: pointer;
  width: 160px;
  height: 40px;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact-button:hover, .header__contact-button:focus {
  background-color: #FF6C00;
  color: #FFFFFF;
}

.header__menu {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__menu:hover, .header__menu:focus {
  color: #FF6C00;
}

@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
}
.header__menu-icon {
  fill: currentColor;
  width: 24px;
  height: 16px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__sidebar {
  width: 120px;
  height: 680px;
  display: none;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

@media screen and (min-width: 768px) {
  .banner__sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 39px;
  }
}
.banner__sidebar-wrapper {
  position: absolute;
  bottom: 40px;
  left: 37px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.banner__socials {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  gap: 40px;
  padding-left: 100px;
  position: relative;
}
.banner__socials::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.banner__socials-link {
  color: #303030;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.banner__socials-link:hover, .banner__socials-link:focus {
  color: #FF6C00;
}

.slider {
  position: relative;
  width: 100%;
  height: 580px;
}

@media screen and (min-width: 768px) {
  .slider {
    height: 680px;
  }
}
.slider__thumb {
  width: 100%;
  height: 100%;
  position: relative;
}

.slider__item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.slider__wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(25, 28, 38, 0.2);
  color: #FFFFFF;
  padding-top: 208px;
  padding-left: 31px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .slider__wrapper {
    padding-top: 272px;
    padding-left: 100px;
  }
}
.slider__caption {
  max-width: 306px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .slider__caption {
    max-width: 355px;
  }
}
@media screen and (min-width: 1200px) {
  .slider__caption {
    max-width: 500px;
  }
}
.slider__decorative-span {
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  position: relative;
  padding-left: 80px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}
.slider__decorative-span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}

.slider__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .slider__title {
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
  }
}
.slider__paragraph {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #9DA4BD;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .slider__paragraph {
    font-size: 18px;
    max-width: 363px;
  }
}
.slider__buttons {
  position: absolute;
  bottom: 40px;
  right: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
}

.slider__button, .slider__button--next {
  width: 60px;
  height: 24px;
  color: rgba(157, 164, 189, 0.6);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  border: none;
  border-bottom: 1px currentColor solid;
  text-transform: capitalize;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.slider__button:hover, .slider__button--next:hover, .slider__button:focus, .slider__button--next:focus {
  color: #FFFFFF;
}

.slider__button--next {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.about__wrapper {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .about__wrapper {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
.about__aside {
  display: none;
}

@media screen and (min-width: 768px) {
  .about__aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .about__wrapper--aside {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.about__wrapper-thumb {
  max-width: 330px;
  height: 235px;
}

@media screen and (min-width: 1200px) {
  .about__wrapper-thumb {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    max-width: 270px;
    height: 445px;
  }
}
.about__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.about__decorative-span {
  color: #303030;
  text-transform: uppercase;
  position: relative;
  padding-left: 80px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}
.about__decorative-span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.about__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-top: 20px;
}

.about__paragraph {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin-top: 20px;
  color: #555555;
}

.about__button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px #FF6C00 solid;
  border-radius: 25px;
  width: 160px;
  height: 40px;
  cursor: pointer;
  margin-top: 40px;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about__button:hover, .about__button:focus {
  background-color: #FF6C00;
  color: #FFFFFF;
}

.pricelist__section {
  background: url(./../images/pricelist-bg.png), #191C26;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pricelist__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pricelist__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 44px;
  background: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  row-gap: 20px;
}

@media screen and (min-width: 1200px) {
  .pricelist__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
.pricelist__table--up {
  padding: 30px 30px 0px 30px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .pricelist__table--up {
    padding: 30px 30px 30px 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
.pricelist__table--down {
  padding: 0px 30px 30px 30px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .pricelist__table--down {
    padding: 30px 30px 30px 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#090B13), to(rgba(9, 11, 19, 0.2)));
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}
.pricelist__decorative-span {
  color: rgba(157, 164, 189, 0.6);
  text-transform: uppercase;
  position: relative;
  padding-left: 80px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}
.pricelist__decorative-span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.pricelist__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-top: 20px;
}

.pricelist__item {
  color: #9DA4BD;
  line-height: 2.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pricelist__item:not(:last-child) {
  margin-bottom: 20px;
}

.pricelist__name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pricelist__name::after {
  content: "";
  margin: 0 6px 0 6px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: 1px #9DA4BD solid;
}

.pricelist__button {
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px #FF6C00 solid;
  border-radius: 25px;
  width: 160px;
  height: 40px;
  margin-top: 50px;
  cursor: pointer;
  color: #FFFFFF;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pricelist__button:hover, .pricelist__button:focus {
  background-color: #FF6C00;
  color: #FFFFFF;
}

.details__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .details__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.details__decorative-span {
  color: #303030;
  text-transform: uppercase;
  position: relative;
  padding-left: 80px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}
.details__decorative-span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.details__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-top: 20px;
  text-align: left;
}

.details__paragraph {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin-top: 20px;
  color: #555555;
}

.details__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .details__wrapper {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
.details__diagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 44px;
  max-width: 450px;
  -ms-flex-item-align: end;
      align-self: end;
}

@media screen and (min-width: 1200px) {
  .details__diagram {
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 0px;
    max-width: 370px;
  }
}
.details__diagram-box {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  background-color: #F7F7F7;
  height: 133px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 24px;
}
.details__diagram-box:nth-child(2n) {
  -webkit-transform: translateY(35px);
          transform: translateY(35px);
}

.details__diagram-number {
  font-family: "Open Sans";
  font-style: normal;
  font-style: bold;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.details__diagram-number::after {
  content: "+";
  color: #FF6C00;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-top: 7px;
}

.details__diagram-caption {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
}

.team__section {
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 418px;
}

@media screen and (min-width: 768px) {
  .team__wrapper {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .team__wrapper {
    max-width: none;
  }
}
.team__decorative-span {
  color: #303030;
  text-transform: uppercase;
  position: relative;
  padding-left: 80px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}
.team__decorative-span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.team__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-top: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.team__list {
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 64px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
.team__thumb {
  width: 100%;
  height: 346px;
  margin: auto;
}

.team__photo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 346px;
}

.team__caption {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.02em;
}

.team__position {
  margin-top: 8px;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #FF6C00;
}

.team__socials {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.team__social-link {
  color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  border-radius: 50px;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-link:hover, .team__social-link:focus {
  color: #FF6C00;
}

.team__social-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.portfolio__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 418px;
}

@media screen and (min-width: 768px) {
  .portfolio__wrapper {
    max-width: none;
  }
}
.portfolio__decorative-span {
  text-transform: uppercase;
  color: #303030;
  position: relative;
  padding-left: 80px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  -ms-flex-item-align: start;
      align-self: start;
}
.portfolio__decorative-span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.portfolio__list {
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  min-height: 360px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}
.portfolio__thumb {
  width: 100%;
  height: 360px;
}

.portfolio__photo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reservation__section {
  background-color: #191C26;
}

@media screen and (min-width: 1200px) {
  .reservation__section {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
.reservation__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reservation__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-align: center;
}

.reservation__form {
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 44px;
}

.reservation__input {
  color: rgba(157, 164, 189, 0.4);
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 8px;
  border-bottom: 1px solid;
}
.reservation__input::-webkit-input-placeholder {
  color: currentColor;
}
.reservation__input::-moz-placeholder {
  color: currentColor;
}
.reservation__input:-ms-input-placeholder {
  color: currentColor;
}
.reservation__input::-ms-input-placeholder {
  color: currentColor;
}
.reservation__input::placeholder {
  color: currentColor;
}
.reservation__input:hover, .reservation__input:focus {
  color: #FFFFFF;
}

.reservation__textarea {
  color: rgba(157, 164, 189, 0.4);
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid;
  resize: none;
  height: 76px;
}
.reservation__textarea::-webkit-input-placeholder {
  color: currentColor;
}
.reservation__textarea::-moz-placeholder {
  color: currentColor;
}
.reservation__textarea:-ms-input-placeholder {
  color: currentColor;
}
.reservation__textarea::-ms-input-placeholder {
  color: currentColor;
}
.reservation__textarea::placeholder {
  color: currentColor;
}
.reservation__textarea:hover, .reservation__textarea:focus {
  color: #FFFFFF;
}

.reservation__button {
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px #FF6C00 solid;
  border-radius: 25px;
  width: 160px;
  height: 40px;
  cursor: pointer;
  color: #FFFFFF;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.reservation__button:hover, .reservation__button:focus {
  background-color: #FF6C00;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .reservation__button {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
.contact__section {
  background: url(./../images/contact-bg.png), #191C26;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .contact__section {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 130px 100px;
  }
}
.contact__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-align: center;
}

.contact__wrapper {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 44px;
}

@media screen and (min-width: 768px) {
  .contact__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .contact__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 72px;
  }
}
.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.contact__item {
  color: #9DA4BD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.contact__text, .contact__link, .contact__link--underline {
  color: #9DA4BD;
  font-style: normal;
  display: block;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link, .contact__link--underline {
  cursor: pointer;
}
.contact__link:hover, .contact__link--underline:hover, .contact__link:focus, .contact__link--underline:focus {
  color: #FF6C00;
}

.contact__link--underline {
  text-decoration: underline;
}

.contact__icon-wrapper {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__icon {
  display: block;
  fill: currentColor;
}

.contact__open-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

.contact__decorative-span {
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  padding-left: 80px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}
.contact__decorative-span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.4);
}

.footer__section {
  padding: 45px;
}

@media screen and (min-width: 768px) {
  .footer__section {
    padding: 56px;
  }
}
.footer__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 29px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__socials {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  gap: 40px;
  padding-left: 100px;
  position: relative;
}
.footer__socials::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.footer__socials-link {
  color: #303030;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__socials-link:hover, .footer__socials-link:focus {
  color: #FF6C00;
}

.footer__copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9DA4BD;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: calc(100vh - (100vh - 100%));
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: transparent;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.menu__container {
  background-color: #FFFFFF;
  padding-top: 118px;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  width: 75%;
  margin-left: 25%;
  height: 100%;
  -webkit-box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
          box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
}

.menu__close-button {
  color: #303030;
  background: transparent;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 48px;
  right: 31px;
  cursor: pointer;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__close-button:hover, .menu__close-button:focus {
  color: #FF6C00;
}

.menu__close-icon {
  width: 19px;
  height: 19px;
  fill: currentColor;
}

.menu__navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.menu__navigation-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #303030;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__navigation-link:hover, .menu__navigation-link:focus {
  color: #FF6C00;
}

.menu__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
}

.menu__contact-link {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.1em;
  color: #303030;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__contact-link:hover, .menu__contact-link:focus {
  color: #FF6C00;
}

.menu__button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px #FF6C00 solid;
  border-radius: 25px;
  width: 160px;
  height: 40px;
  color: #303030;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__button:hover, .menu__button:focus {
  background-color: #FF6C00;
  color: #FFFFFF;
}

.menu__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.menu__socials-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.2em;
  color: #303030;
  padding-left: 100px;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__socials-link:hover, .menu__socials-link:focus {
  color: #FF6C00;
}

.menu__socials-link--decorative {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.2em;
  color: #303030;
  position: relative;
  padding-left: 100px;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__socials-link--decorative:hover, .menu__socials-link--decorative:focus {
  color: #FF6C00;
}
.menu__socials-link--decorative::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}/*# sourceMappingURL=main.css.map */