/*Colors*/
/*Gradients*/
/*Geometry*/
/*Transition*/
/*Shadows*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #303030;
  background-color: #FFFFFF;
  font-family: "Open Sans", "Raleway", sans-serif;
  font-size: 14px;
  font-style: normal;
}

ul {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.section {
  padding: 84px 31px;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 100px 39px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 130px 54px;
  }
}
.container {
  max-width: 1200px;
  display: flex;
  margin: auto;
}

.is-hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.double-wrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .double-wrapper {
    flex-direction: row;
  }
}
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 31px;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 32px 39px 32px 50px;
  }
}
.header__logo {
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .header__logo {
    color: #303030;
  }
}
.header__logo-icon {
  fill: currentColor;
  width: 69px;
  height: 55px;
}
.header__navigation {
  display: flex;
  align-items: flex-start;
  gap: 71px;
}
@media screen and (min-width: 1200px) {
  .header__navigation {
    align-items: center;
  }
}
.header__navigation-list {
  gap: 41px;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__navigation-list {
    display: flex;
  }
}
.header__navigation-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__navigation-link:hover, .header__navigation-link:focus {
  color: #FF6C00;
}
.header__contact-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contact-list {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 20px;
    -moz-column-gap: 37px;
         column-gap: 37px;
    flex-grow: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact-list {
    flex-direction: row;
    align-items: center;
  }
}
.header__contact-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact-link:hover, .header__contact-link:focus {
  color: #FF6C00;
}
.header__contact-button {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px #FF6C00 solid;
  border-radius: 25px;
  cursor: pointer;
  width: 160px;
  height: 40px;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact-button:hover, .header__contact-button:focus {
  background-color: #FF6C00;
  color: #FFFFFF;
}
.header__menu {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
}
.header__menu-icon {
  fill: currentColor;
  width: 24px;
  height: 16px;
}

.banner {
  display: flex;
  /*Sidebar*/
  /*Slider*/
}
.banner__sidebar {
  width: 120px;
  height: 680px;
  display: none;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
}
@media screen and (min-width: 768px) {
  .banner__sidebar {
    display: flex;
    margin-left: 39px;
  }
}
.banner__sidebar-wrapper {
  position: absolute;
  bottom: 40px;
  left: 37px;
  transform-origin: 0 0;
  transform: rotate(-90deg);
}
.banner__socials {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  display: flex;
  cursor: pointer;
  gap: 40px;
  padding-left: 100px;
  position: relative;
}
.banner__socials::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 60px;
  height: 1px;
  background-color: #303030;
}
.banner__socials-link {
  color: #303030;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.banner__socials-link:hover, .banner__socials-link:focus {
  color: #FF6C00;
}
.banner__slider {
  position: relative;
  width: 100%;
  height: 580px;
}
@media screen and (min-width: 768px) {
  .banner__slider {
    height: 680px;
  }
}
.banner__slider-thumb {
  width: 100%;
  height: 100%;
}
.banner__slider-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner__slider-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(25, 28, 38, 0.2);
  color: #FFFFFF;
  padding-top: 208px;
  padding-left: 31px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  .banner__slider-wrapper {
    padding-top: 272px;
    padding-left: 100px;
  }
}
.banner__slider-caption {
  max-width: 306px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .banner__slider-caption {
    max-width: 355px;
  }
}
@media screen and (min-width: 1200px) {
  .banner__slider-caption {
    max-width: 500px;
  }
}
.banner__slider-decorative-span {
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  position: relative;
  padding-left: 80px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}
.banner__slider-decorative-span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}
.banner__slider-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .banner__slider-title {
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
  }
}
.banner__slider-paragraph {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #9DA4BD;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .banner__slider-paragraph {
    font-size: 18px;
    max-width: 363px;
  }
}

.about__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
.about__wrapper {
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .about__wrapper {
    flex-basis: calc((100% - 30px) / 2);
  }
}
.about__wrapper--aside {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__wrapper--aside {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 30px) / 2);
    gap: 30px;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .about__wrapper--aside {
    flex-direction: row;
  }
}
.about__wrapper-thumb {
  max-width: 330px;
  height: 235px;
}
@media screen and (min-width: 1200px) {
  .about__wrapper-thumb {
    flex-basis: calc((100% - 30px) / 2);
    max-width: 270px;
    height: 445px;
  }
}
.about__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.about__decorative-span {
  text-transform: uppercase;
  color: #303030;
  position: relative;
  padding-left: 80px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}
.about__decorative-span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 60px;
  height: 1px;
  background-color: #303030;
}
.about__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-top: 20px;
}
.about__paragraph {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin-top: 20px;
  color: #555555;
}
.about__button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px #FF6C00 solid;
  border-radius: 25px;
  width: 160px;
  height: 40px;
  cursor: pointer;
  margin-top: 40px;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about__button:hover, .about__button:focus {
  background-color: #FF6C00;
  color: #FFFFFF;
}

.pricelist__section {
  background: url(./../images/pricelist-bg.png), #191C26;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.pricelist__container {
  flex-direction: column;
}
.pricelist__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 44px;
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  row-gap: 20px;
}
@media screen and (min-width: 1200px) {
  .pricelist__wrapper {
    flex-direction: row;
    background: transparent;
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
.pricelist__table--up {
  padding: 30px 30px 0px 30px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .pricelist__table--up {
    padding: 30px 30px 30px 30px;
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
.pricelist__table--down {
  padding: 0px 30px 30px 30px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .pricelist__table--down {
    padding: 30px 30px 30px 30px;
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}
.pricelist__decorative-span {
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  position: relative;
  padding-left: 80px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}
.pricelist__decorative-span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}
.pricelist__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-top: 20px;
}
.pricelist__item {
  color: #9DA4BD;
  line-height: 2.14;
  letter-spacing: 0.02em;
  display: flex;
}
.pricelist__item:not(:last-child) {
  margin-bottom: 20px;
}
.pricelist__name {
  flex-grow: 1;
  display: flex;
}
.pricelist__name::after {
  content: "";
  margin: 0 6px 0 6px;
  flex-grow: 1;
  border-bottom: 1px #9DA4BD solid;
}
.pricelist__button {
  align-self: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px #FF6C00 solid;
  border-radius: 25px;
  width: 160px;
  height: 40px;
  margin-top: 50px;
  cursor: pointer;
  color: #FFFFFF;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pricelist__button:hover, .pricelist__button:focus {
  background-color: #FF6C00;
  color: #FFFFFF;
}

.details__container {
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .details__container {
    flex-direction: row-reverse;
  }
}
.details__decorative-span {
  text-transform: uppercase;
  color: #303030;
  position: relative;
  padding-left: 80px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}
.details__decorative-span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 60px;
  height: 1px;
  background-color: #303030;
}
.details__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-top: 20px;
}
.details__paragraph {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin-top: 20px;
  color: #555555;
}
.details__wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .details__wrapper {
    flex-basis: 50%;
  }
}
.details__diagram {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 44px;
  max-width: 450px;
  align-self: end;
}
@media screen and (min-width: 1200px) {
  .details__diagram {
    align-self: center;
    margin-top: 0px;
    max-width: 370px;
  }
}
.details__diagram-box {
  flex-basis: calc((100% - 30px) / 2);
  background-color: #F7F7F7;
  height: 133px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 20px 24px;
}
.details__diagram-box:nth-child(2n) {
  transform: translateY(35px);
}
.details__diagram-number {
  font-family: "Open Sans";
  font-style: normal;
  font-style: bold;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  display: flex;
}
.details__diagram-number::after {
  content: "+";
  color: #FF6C00;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-top: 7px;
}
.details__diagram-caption {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
}

.team__section {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team__container {
  flex-direction: column;
}
.team__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 418px;
}
@media screen and (min-width: 768px) {
  .team__wrapper {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .team__wrapper {
    max-width: none;
  }
}
.team__decorative-span {
  text-transform: uppercase;
  color: #303030;
  position: relative;
  padding-left: 80px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  align-self: flex-start;
}
.team__decorative-span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 60px;
  height: 1px;
  background-color: #303030;
}
.team__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-top: 20px;
  align-self: flex-start;
}
.team__list {
  margin-top: 44px;
  display: flex;
  row-gap: 64px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  flex-wrap: wrap;
}
.team__item {
  flex-basis: 100%;
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.team__thumb {
  width: 100%;
  height: 346px;
  margin: auto;
}
.team__photo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 346px;
}
.team__caption {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.02em;
}
.team__position {
  margin-top: 8px;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #FF6C00;
}
.team__socials {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}
.team__social-link {
  color: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  border-radius: 50px;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-link:hover, .team__social-link:focus {
  color: #FF6C00;
}
.team__social-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.portfolio__container {
  flex-direction: column;
  margin: auto;
  align-items: center;
}
.portfolio__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 418px;
}
@media screen and (min-width: 768px) {
  .portfolio__wrapper {
    max-width: none;
  }
}
.portfolio__decorative-span {
  text-transform: uppercase;
  color: #303030;
  position: relative;
  padding-left: 80px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  align-self: start;
}
.portfolio__decorative-span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 60px;
  height: 1px;
  background-color: #303030;
}
.portfolio__list {
  margin-top: 44px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio__item {
  min-height: 360px;
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}
.portfolio__thumb {
  width: 100%;
  height: 360px;
}
.portfolio__photo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reservation__section {
  background-color: #191C26;
}
@media screen and (min-width: 1200px) {
  .reservation__section {
    flex-basis: 50%;
  }
}
.reservation__container {
  flex-direction: column;
}
.reservation__title {
  font-family: "Raleway";
  color: #FFFFFF;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  text-align: center;
}
.reservation__form {
  margin-top: 44px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 44px;
}
.reservation__input {
  color: rgba(157, 164, 189, 0.4);
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  flex-basis: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 8px;
  border-bottom: 1px solid;
}
.reservation__input::-moz-placeholder {
  color: currentColor;
}
.reservation__input:-ms-input-placeholder {
  color: currentColor;
}
.reservation__input::placeholder {
  color: currentColor;
}
.reservation__input:hover, .reservation__input:focus {
  color: #FFFFFF;
}
.reservation__textarea {
  color: rgba(157, 164, 189, 0.4);
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid;
  resize: none;
  height: 76px;
}
.reservation__textarea::-moz-placeholder {
  color: currentColor;
}
.reservation__textarea:-ms-input-placeholder {
  color: currentColor;
}
.reservation__textarea::placeholder {
  color: currentColor;
}
.reservation__textarea:hover, .reservation__textarea:focus {
  color: #FFFFFF;
}
.reservation__button {
  align-self: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px #FF6C00 solid;
  border-radius: 25px;
  width: 160px;
  height: 40px;
  cursor: pointer;
  color: #FFFFFF;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.reservation__button:hover, .reservation__button:focus {
  background-color: #FF6C00;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .reservation__button {
    align-self: flex-start;
  }
}

.contact__section {
  background: url(./../images/contact-bg.png), #191C26;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .contact__section {
    flex-basis: 50%;
    padding: 130px 100px;
  }
}
.contact__container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact__title {
  font-family: "Raleway";
  color: #FFFFFF;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  text-align: center;
}
.contact__wrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 44px;
}
@media screen and (min-width: 768px) {
  .contact__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .contact__wrapper {
    flex-direction: column;
    gap: 72px;
  }
}
.contact__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact__item {
  color: #9DA4BD;
  display: flex;
  align-items: center;
  gap: 16px;
}
.contact__text {
  color: #9DA4BD;
  font-style: normal;
  cursor: pointer;
  display: block;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.contact__text--underline {
  color: #9DA4BD;
  text-decoration: underline;
  cursor: pointer;
  display: block;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.contact__icon-wrapper {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__icon {
  display: block;
  fill: currentColor;
}
.contact__open-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.contact__decorative-span {
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  padding-left: 80px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}
.contact__decorative-span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.4);
}

.footer__section {
  padding: 45px;
}
@media screen and (min-width: 768px) {
  .footer__section {
    padding: 56px;
  }
}
.footer__container {
  flex-direction: column;
  align-items: center;
  gap: 29px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.footer__socials {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  display: flex;
  cursor: pointer;
  gap: 40px;
  padding-left: 100px;
  position: relative;
}
.footer__socials::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 60px;
  height: 1px;
  background-color: #303030;
}
.footer__socials-link {
  color: #303030;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__socials-link:hover, .footer__socials-link:focus {
  color: #FF6C00;
}
.footer__copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9DA4BD;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: calc(100vh - (100vh - 100%));
  z-index: 999;
  transform: translateX(100%);
  background-color: transparent;
  transition: transform 300ms ease-in-out;
}
.menu__container {
  background-color: #FFFFFF;
  padding-top: 118px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 75%;
  margin-left: 25%;
  height: 100%;
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
}
.menu__close-button {
  color: #303030;
  background: transparent;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 48px;
  right: 31px;
  cursor: pointer;
}
.menu__close-icon {
  width: 19px;
  height: 19px;
  fill: currentColor;
}
.menu__navigation-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu__navigation-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #303030;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__navigation-link:hover, .menu__navigation-link:focus {
  color: #FF6C00;
}
.menu__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.menu__contact-link {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.1em;
  color: #303030;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__contact-link:hover, .menu__contact-link:focus {
  color: #FF6C00;
}
.menu__button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px #FF6C00 solid;
  border-radius: 25px;
  width: 160px;
  height: 40px;
  color: #303030;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__button:hover, .menu__button:focus {
  background-color: #FF6C00;
  color: #FFFFFF;
}
.menu__socials-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu__socials-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.2em;
  color: #303030;
  padding-left: 100px;
}
.menu__socials-link--decorative {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.2em;
  color: #303030;
  position: relative;
  padding-left: 100px;
}
.menu__socials-link--decorative::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.is-open {
  transform: translateX(0);
}/*# sourceMappingURL=main.css.map */