.about{

    &__container{
        flex-direction: column;
    }
     
    &__decorative-span {
     text-transform: uppercase;
     color: $main-color;
     position: relative;
     padding-left: 80px;
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 600;
     font-size: 11px;
     line-height: 1.36;
     letter-spacing: 0.1em;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0px;
            width: 60px;
            height: 1px;
            background-color: $main-color;
        }
    }

    &__title{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
        letter-spacing: 0.05em;
        margin-top: 20px;
    }

    &__paragraph{
        font-size: 14px;
        line-height: 1.86;
        letter-spacing: 0.02em;
        margin-top: 20px;
        color: $secondary-color;
    }

    &__button{
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        background-color: transparent;
        border: 1px $accent-color solid;
        border-radius: 25px;
        width: 160px;
        height: 40px;
        margin-top: 40px;
        transition: color $main-animation, 
                    background-color $main-animation;

        &:hover,
        &:focus{
            background-color: $accent-color;
            color: $light-color;
        }
    }


}