*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    color: $main-color;
    background-color: $background-main-color;
    font-family: "Open Sans", "Raleway", sans-serif;
    font-size: 14px;
    font-style: normal;
}

ul{
    list-style: none;
}

img{
    display: block;
}

a{
    text-decoration: none;
}

.section{
    padding: $small-padding;
}

.container{
    max-width: 1200px;
    display: flex;
    margin: auto;
}

.is-hidden{
    display: none;
}

.no-scroll{
    overflow: hidden;
}




