@use './../utils' as *;


.footer__section{
    padding: 45px;
}

@media screen and (min-width: 768px) {
    .footer__section{
        padding: 56px
    }
}

.footer__container{
    flex-direction: column;
    align-items: center;
    gap: 29px;
}

@media screen and (min-width: 768px) {
    .footer__container{
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

.footer__socials{
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;
    display: flex;
    cursor: pointer;
    gap: 40px;
    padding-left: 100px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0px;
        width: 60px;
        height: 1px;
        background-color: getColor("main-color");
    }
}

.footer__socials-link{
    color: getColor("main-color");
    transition: color $main-animation;

    &:hover,
    &:focus{
        color: getColor("accent-color");
    }
}   

.footer__copyright{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: getColor("secondary-light-color");
}


