@mixin decorative-span{
    text-transform: uppercase;
    position: relative;
    padding-left: 80px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;

    &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0px;
        width: 60px;
        height: 1px;
        background-color: currentColor;
    }
}



