/*Colors*/
$main-color: #303030;
$secondary-color: #555555;

$light-color: #FFFFFF;
$secondary-light-color: #9DA4BD;

$accent-color: #FF6C00;

$background-main-color: #F7F7F7;
$background-light-color: #F7F7F7;
$background-dark-color: #191C26;

$decoration-span-dark-color: rgba(157, 164, 189, 0.6);

/*Paddings*/
$small-padding: 84px 31px;



